[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=AICO2 Universal Plug-in Demo
Path=/home/$USER/Documents/AICO2-4-Office-Demo
Exec=python3 /home/$USER/Documents/AICO2-4-Office-Demo/AICO2-4_universal_plugin_demo.py
Icon=/home/$USER/Documents/AICO2-4-Office-Demo/flexivicon_512.png
Terminal=true
StartupNotify=false